/*=====================================
About section header Animation
=====================================*/
@keyframes dance {
    0% {
        color: white;
        transform: translateY(0);
        margin-left: 0;
    }
    25% {
        color: var(--cta);
        transform: translateY(-15px);
        margin-left: 10px;
        text-shadow: 0 15px 5px rgba(0,0,0,1);
    }
    100% {
        color: white;
        transform: translateY(0);
    }
}
/*=====================================
Brands Carousel Animation
=====================================*/
@keyframes carousel {
    from { left: 0; }
    to { left: -100%; }
}
/*=========================================
Hero Image Slideshow Animation
=========================================*/
@keyframes slideshow {
    0% { background-image: url("/Images/backgrounds/bgA.jpg");}
    5% { background-image: url("/Images/backgrounds/bgB.jpg");}
    15% { background-image: url("/Images/backgrounds/bgB.jpg");}
    20% { background-image: url("/Images/backgrounds/bgC.jpg");}
    35% { background-image: url("/Images/backgrounds/bgC.jpg");}
    40% { background-image: url("/Images/backgrounds/bgD.jpg");}
    55% { background-image: url("/Images/backgrounds/bgD.jpg");}
    60% { background-image: url("/Images/backgrounds/bgE.jpg");}
    75% { background-image: url("/Images/backgrounds/bgE.jpg");}
    80% { background-image: url("/Images/backgrounds/bgF.jpg");}
    90% { background-image: url("/Images/backgrounds/bgF.jpg");}
    95% { background-image: url("/Images/backgrounds/bgA.jpg");}
    100% { background-image: url("/Images/backgrounds/bgA.jpg");}
}

@keyframes animateScreen {
    100% { filter: hue-rotate(360deg); }
}
/*=========================================
Slide-in Animation Styles
=========================================*/
.hidden {
    transition: all 1s;
    filter: blur(5px);
    opacity: 0;
}

.to_left {
    transform: translateX(-100%);
}

.to_right {
    transform: translateX(100%);
}

.appear {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}