/*=========================================
Blog setup
=========================================*/
#blog {
    background: url("/Images/backgrounds/blog-bg.png");
    @include background-size-position-repeat ("cover", "center", "repeat");
    @include width-height("100%", "auto");
    @include Display-align("flex", "center");
    padding: 100px 0 50px;
}
/*=========================================
Mobile and Tab setup
=========================================*/
@media (max-width: 950px) {
    #blog {

        .new-section {
            padding: 0 20px;

            .about-cards {
                display: block;

                .about-card:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}