/*
==========================================
Footer Setup
==========================================
*/
footer  {
    background-color: var(--text-blac);
    position: relative;
    z-index: 4;

    .first-sect {
        @include Display-justify("flex", "space-evenly");
        border-bottom: 2px solid var(--link-color);
        padding: 50px 0;

        .footer li:nth-child(1) {
            @include font-size (medium);
            filter: brightness(2);
        }
    }

    .footer li a {
        color: var(--link-color);
        line-height: 30px;
        transition: .4s;

        &:hover {
            color: var(--cta-color);
        }
    }

    .copy_right {
        @include Display-align-justify("flex", "center", "space-between");
        padding: 30px 80px 40px;
        color: var(--link-color);

        .links a:not(:last-child) {
            padding: 0 15px 0 0;
        }

        .links img {
            @include width-height("20px", "20px");
            transition: .2s;

            &:hover {
                transform: scale(.90);
                opacity: .6;
            }
        }
    }
}