/*=========================================
General Styles
=========================================*/
@import "mixins";
* {
    font-family: 'Gill Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}
/*=========================================
Color Definitions
=========================================*/
:root {
    --cta: rgb(223 146 87);
    --text: rgb(50 50 56);
    --white: rgb(255 255 255);
    --background-light-gray: rgb(243, 243, 245);
    --text-color-dark: rgb(13, 13, 37);
    --accent: rgb(78 193 254);
}

body {
    background: var(--white);
    position: relative;
    overflow-x: hidden;
}
/*=========================================
Button Styles
=========================================*/
button {
    transition: .3s;
    border-radius: 30px;
    min-width: 100px;
    min-height: 40px;
    background: var(--background-light-gray);
    box-shadow: 4px 8px 8px rgb(153 153 153);
    @include Display-align-justify ("inline-flex", "center", "center");
    @include font-weight("medium");
    color: var(--text-color-dark);
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
        transform: scale(.97);
        background: var(--white);
        box-shadow: inset 9px 9px 12px rgb(204, 204, 204), inset -9px -9px 12px var(--white);
        color: var(--cta);
    }
}
/*=========================================
Mobile menu Styles
=========================================*/
.menu-icon {
    cursor: pointer;

    span {
        @include width-height ("26px", "2px");
        background: var(--text-color-dark);
        transition: transform .4s;
        display: block;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}
/*=========================================
Menu Open Action
=========================================*/
.menu-open {

    span:first-child {
        transform: translateY(6px) rotate(45deg);
        background-color: var(--cta);
        transform-origin: 45%;
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:last-child {
        transform: translateY(-6px) rotate(-45deg);
        background-color: var(--cta);
        transform-origin: 45%;
    }
}
/*=========================================
Menu Links Action
=========================================*/
.nav-open {

    &.mobile-menu {
        transform: translateX(0);
    }
}
/*=========================================
Mobile menu Styles
=========================================*/
.mobile-menu {
    @include width-height ("50%", "100%");
    background: rgba(0, 0, 0, 0.39);
    transform: translateX(500px);
    border-radius: 5px 0 0 5px;
    text-align: center;
    font-size: 22px;
    position: fixed;
    transition: 1s;
    z-index: 20;
    right: 0;
    top: 0;

    ul {
        @include Display-justify ("flex", "center");
        @include width-height ("100%", "100%");
        flex-direction: column;

        li{
            padding: 20px 0;
            transition: .3s;

            a {
                color: var(--white);
                transition: .3s;
            }

            &:hover {
                background: rgb(0 0 0 / 36%);
                border-radius: 0 20px 20px 0;

                a{
                    color: var(--cta);
                }
            }
        }
    }
}