/*=========================================
General Styles
=========================================*/
@import "mixins";
* {
    font-family: 'Gill Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}
/*=========================================
Color Definitions
=========================================*/
:root {
    --cta: rgb(223 146 87);
    --text: rgb(50 50 56);
    --white: rgb(255 255 255);
    --background-light-gray: rgb(243, 243, 245);
    --text-color-dark: rgb(13, 13, 37);
    --accent: rgb(78 193 254);
}

body {
    background: var(--white);
    overflow-x: hidden;
    position: relative;
}
/*=========================================
Dark mode/ Light mode Styles
=========================================*/
.light-mode {
    background: linear-gradient(45deg, #76005d99,
     #ff7bb8, #76005d99, #9760c9, #9593ffad);
    color: #333;
  }

/*=========================================
Button Styles
=========================================*/

/* button {
    min-width: 100px;
    min-height: 38px;
    background: #e7e7e7;
    box-shadow: 4px 4px 12px #262626;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #0d0d25;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none !important;
    transition: .3s;
    font-weight: 700;
    overflow: hidden;
    position: relative;

    &:hover {
        color: var(--cta);
        transform: scale(.97);
        border-color: #0d0d25;
        box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    }
}
 */
button {
    @include Display-align-justify ("inline-flex", "center", "center");
    box-shadow: 0 5px 5px rgba(0, 0, 0, .62);
    background: rgba(28, 9, 74, 0.651);
    color: rgb(203 203 203);
    border-radius: 30px;
    min-width: 100px;
    font-weight: 700;
    overflow: hidden;
    min-height: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgb(255,255,255,.1);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
        transition: .5s;
    }

    &:hover::after {
        left: 100%;
    }

    & span {
        position: absolute;
        display: block;
        transition: .5s;

        &:nth-child(1) {
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: #fff;
        }

        &:nth-child(2) {
            top: 0;
            left: 0;
            width: 1px;
            height: 0;
            background: #fff;
        }

        &:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
            background: #fff;
        }

        &:nth-child(4) {
            bottom: 0;
            right: 0;
            width: 1px;
            height: 0;
            background: #fff;
        }
    }

    &:hover span:nth-child(1) {
        width: 100%;
        transform: translateX(100%);
    }

    &:hover span:nth-child(2) {
        height: 100%;
        transform: translateY(100%);
    }

    &:hover span:nth-child(3) {
        width: 100%;
        transform: translateX(-100%);
    }

    &:hover span:nth-child(4) {
        height: 100%;
        transform: translateY(-100%);
    }

    &:hover {
        transform: scale(.97);
        color: var(--cta);
    }
}

/*=========================================
Mobile menu Styles
=========================================*/
.menu-icon {
    cursor: pointer;

    span {
        @include width-height ("26px", "2px");
        background: var(--text-color-dark);
        transition: transform .4s;
        display: block;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}
/*=========================================
Menu Open Action
=========================================*/
.menu-open {

    span:first-child {
        transform: translateY(6px) rotate(45deg);
        background-color: var(--cta);
        transform-origin: 45%;
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:last-child {
        transform: translateY(-6px) rotate(-45deg);
        background-color: var(--cta);
        transform-origin: 45%;
    }
}
/*=========================================
Menu Links Action
=========================================*/
.nav-open {

    &.mobile-menu {
        transform: translateX(0);
    }
}
/*=========================================
Mobile menu Styles
=========================================*/
.mobile-menu {
    @include width-height ("50%", "100%");
    background: rgba(0, 0, 0, 0.39);
    transform: translateX(500px);
    border-radius: 5px 0 0 5px;
    text-align: center;
    font-size: 22px;
    position: fixed;
    transition: 1s;
    z-index: 20;
    right: 0;
    top: 0;

    ul {
        @include Display-justify ("flex", "center");
        @include width-height ("100%", "100%");
        flex-direction: column;

        li{
            padding: 20px 0;
            transition: .3s;

            a {
                color: var(--white);
                transition: .3s;
            }

            &:hover {
                background: rgb(0 0 0 / 36%);
                border-radius: 0 20px 20px 0;

                a{
                    color: var(--cta);
                }
            }
        }
    }
}

footer .copy_right button {
    border-radius: 50%;
}