/*=========================================
Hero Setup
=========================================*/
.hero {
    @include width-height ("100vw", "100vh");
    @include Display-justify ("flex", "center");
    flex-direction: column;
    align-items: center;
    position: relative;

    .screen {
        @include Display-align-justify ("flex", "center", "center");
        @include width-height ("100%", "100vh");
        flex-direction: column;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            filter: brightness(.7);
            animation: slideshow 30s ease-in forwards infinite;
            @include background-size-position-repeat ("cover", "center", "no-repeat");
        }

        h1 {
            padding-bottom: 20px;
            color: var(--white);
            position: relative;
            font-size: 52px;
            z-index: 5;
        }

        p {
            color: rgb(227 227 227);
            padding-bottom: 40px;
            font-size: 18px;
            z-index: 2;
        }

        .bttn {
            padding: 15px 40px;
        }
    }
}