/*=====================================
Mobile hide setup
=====================================*/
.hide-for-mobile {
    @media (max-width: 950px) {
        display: none;
    }
}
/*=====================================
Desktop hide setup
=====================================*/
.hide-for-desktop {
    @media (min-width: 951px) {
        display: none;
    }
}
/*=====================================
text font-size setup
=====================================*/
@mixin textFont-size ($size) {

    @if $size == large {
        font-size: 22px;
    }
    @else if $size == medium {
        font-size: 20px;
    }
    @else if $size == small {
        font-size: 13px;
    }
    @else {
        font-size: 10px; //Extra Small
    }
}
/*=====================================
text font-weight setup
=====================================*/
@mixin font-weight ($size) {

    @if $size == large {
        font-weight: 900;
    }
    @else if $size == medium {
        font-weight: 700;
    }
    @else if $size == small {
        font-weight: 500;
    }
    @else {
        font-weight: 300; //Extra Small
    }
}
/*=====================================
Heading font-size setup
=====================================*/
@mixin headingFont-size ($size) {

    @if $size == large {
        font-size: 42px;
    }
    @else if $size == medium {
        font-size: 24px;
    }
    @else if $size == small {
        font-size: 18px;
    }
    @else {
        font-size: 20px;
    }
}
/*=====================================
Flex setup
=====================================*/
@mixin Display-align-justify ($placement, $align, $justify) {
    display: #{$placement};
    align-items: #{$align};
    justify-content: #{$justify};
}

@mixin Display-align ($placement, $align) {
    display: #{$placement};
    align-items: #{$align};
}

@mixin Display-justify ($placement, $justify) {
    display: #{$placement};
    justify-content: #{$justify};
}
/*=====================================
Width-height setup
=====================================*/
@mixin width-height ($width, $height) {
    width: #{$width};
    height: #{$height};
}
/*=====================================
Background Position setup
=====================================*/
@mixin background-size-position-repeat ($size, $position, $repeat) {
    background-size: #{$size};
    background-position: #{$position};
    background-repeat: #{$repeat};
}