/*=========================================
Reviews Setup
=========================================*/
.review-cards {
    @include width-height ("100%", "auto");
    @include Display-align ("flex", "center");
    flex-direction: column;
    padding: 100px 0 50px;
    position: relative;

    h3 {
        @include headingFont-size(medium);
        @include font-weight(small);
        padding-bottom: 25px;
    }

    .review-card {
        box-shadow: 1px 1px 6px rgb(153, 153, 153);
        @include Display-align ("flex", "center");
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        background: rgb(245, 245, 245);
        width: 500px;

        img {
            @include width-height ("100%", "300px");
        }

        h6 {
            @include headingFont-size(small);
            @include font-weight(small);
            padding: 20px 0 10px;
        }

        .head-info {
            font-size: 10.3px;
        }

        .info {
            @include textFont-size(small);
            @include font-weight(small);
            padding: 15px 20px 30px;
        }
    }
}