header {
    box-shadow: none;
}

.categories {
    text-align:center;

    .cat-header {
        border-bottom: 1px solid rgba(189, 188, 188, 0.32);
        padding-top: 13vh;
        position: fixed;
        width: 100%;
        background: white;
        z-index: 3;

        h2 {
            padding-bottom: 20px;
            color: var(--cta);
        }

        .buttons {
            height: 30px;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(6, 1fr);

            .btn {
                color: rgb(134 134 135);
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                transition: .3s;

                &:hover {
                    color: var(--cta);
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }

    .section-center {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 30vh 50px 40px;
        gap: 40px 25px;

        .menu-item {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 170px;
            overflow: hidden;
            border-radius: 30px 0;
            transition: .3s;

            &:hover {
                box-shadow: 3px 4px 6px #817e7e;
                transform: scale(1.03);
            }

            .photo {
                width: 100%;
                height: 100%;
            }

            .item-info {
                padding: 5px 10px 5px 5px;
                bottom: 0;
                background: rgb(0 0 84 / 38%);
                border-radius: 0 15px 0 0;
                position: absolute;
                display: flex;
                gap: 5px;
                flex-direction: column;

                h4, p {
                    text-align: start;
                    font-weight: 500;
                    color: #fff;
                    text-shadow: 2px 0.5px black;
                }
            }
        }
    }
}

.Grid {
    display: grid;
}

.Hide {
    display: none;
}

.big {
    color: var(--cta);
    font-weight: 700;
    font-size: 20px;
}
/*
=========================================
Mobile and Tab setup
=========================================
*/
@media (max-width: 950px) {

    .categories .section-center {
        grid-template-columns: repeat(3, 1fr);
        padding: 25vh 20px 30px;
    }

    @media (max-width: 550px){

        header nav .search-form input {
            width: 200px;
        }

        .categories .section-center {
            grid-template-columns: repeat(2, 1fr);
            padding: 33vh 20px 30px;
        }

        .categories .cat-header .buttons {
            grid-template-columns: repeat(3, 1fr);
            height: 80px;

            .btn {
                &:hover {
                    font: 17px;
                }
            }
        }
    }
}