/*=========================================
Dashboard Setup
=========================================*/
#header {
    background: #bdbbc2;
}

header nav .dash-profile {
    @include Display-align-justify ("flex", "center", "center");
    background: rgba(28, 9, 74, 0.651);
    border-radius: 30px;
    padding: 7px 20px;
    color: var(--white);
    gap: 5px;

    span {
        font-size: 13px;
    }

    img {
        width: 15px;
    }
}

.dashboard {
    background: #bdbbc2;
    padding: 13vh 0 0 10px;

    .left-sect {
        @include width-height("45vw", "85vh");
        position: fixed;
        display: flex;
        top: 12.5vh;

        .links {
            padding-top: 10px;
            position: relative;
            width: 100%;

            &::before {
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                filter: brightness(.6);
                background: url('/Images/backgrounds/half1.jpg');
                @include background-size-position-repeat ("cover", "center", "no-repeat");
            }

            li {
                @include Display-align-justify ("flex", "center", "center");
                position: relative;
                height: 40px;

                a {
                    color: white;
                }

                img {
                    margin-right: 5px;
                    width: 15px;
                }
            }
        }

        .info {
            border-radius: 5px 5px 0 0;
            margin: 30px 15px 0;
            padding: 30px 10px;
            position: relative;
            width: 100%;

            &::before {
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                filter: brightness(.6);
                background: url('/Images/backgrounds/half2.jpg');
                @include background-size-position-repeat ("cover", "center", "no-repeat");
            }

            h2, p, a {
                position: relative;
            }

            h2 {
                color: #fff4f4;
                font-weight: 500;
                font-size: 18px;
            }

            p {
                padding: 5px 0 20px;
                color: var(--white);
                font-size: 13px;
            }

            a {
                @include width-height("20vw", "45px");
                background: #bdbbc2;
                justify-content: start;
                padding-left: 10px;
                border-radius: 3px;
                align-items: center;
                color: var(--text);
                font-size: 13px;
                gap: 22px;

                img {
                    @include width-height("30px", "30px");
                    border-radius: 50%;
                }

                &:hover {
                    transform: scale(.98);
                }
            }
        }

        #footer {
            @include width-height("100%", "3vh");
            background: #bdbbc2;
            position: fixed;
            z-index: 2;
            bottom: 0;
        }
    }

    .details {
        @include Display-align-justify ("flex", "end", "space-evenly");
        @include width-height("87%", "auto");
        background: transparent;
        flex-direction: column;
        margin-top: 110px;

        .personal-details {
            padding-bottom: 40px;
            flex-direction: column;
            width: 47%;
            gap: 35px;

            #header {
                background: #bdbbc2;
                padding: 8vh 0 20px;
                color: #fff4f4;
                font-weight: 500;
                position: fixed;
                width: 100%;
                z-index: 2;
                left: 46%;
                top: 12%;
            }

            h2 {
                text-align: start;
                font-size: 18px;
            }

            .personal {
                @include Display-align-justify ("flex", "center", "start");
                background: rgb(139, 142, 143);
                padding: 12px 40px;
                border-radius: 5px;
                gap: 20px;

                img {
                    @include width-height("60px", "60px");
                    border-radius: 50%;
                }

                .contact {
                    h2 {
                        color: #e7e2e2;
                        font-size: 16px;
                    }
                    p {
                        color: var(--accent);
                        font-size: 13px;
                    }
                }
            }

            table {
                background: rgb(139, 142, 143);
                border-radius: 5px;
                text-align: start;

                tr:not(:last-child) td{
                    border-bottom: 1px solid rgb(0 0 0 / 18%);
                }

                td {
                    padding-left: 20px;
                    color: #e7e2e2;
                    text-align: start;
                    height: 45px;
                }
            }

            .blocks {
                background: rgb(139, 142, 143);
                border-radius: 5px;
                flex-wrap: wrap;
                padding: 10px;
                width: 100%;
                display: flex;
                gap: 15px;

                button {
                    background: rgb(103 104 114);
                    box-shadow: none;
                    font-size: 12px;
                    padding: 5px 0;
                    min-height: 0;

                    &:hover {
                        color: rgb(203, 203, 203);
                    }
                }
            }
        }

        h4 {
            color: #fff4f4;
            text-align: start;
            font-size: 14px;
        }
    }
}

.show{
    display: flex;
}